@model AppForVaccine.Models.cityModel

@{
    ViewBag.Title = "ECity";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="card shadow mb-2 p-5" style=" margin: 0px 50px 0px 350px;
    max-width: 750px;
    max-height: 750px;">

    <h2 class="text-info">ערוך מרפאה</h2>
    <hr />

    <div class="row mb-2">
        <div id="msg">

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content" >
            <div class="page-bar">

            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">

                        <div class="card-body" id="bar-parent">

                            <form action="ECity" method="Post" id="form_sample_1" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                               
                                @Html.HiddenFor(x => x.Id)
                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">
                                            שם המרפאה
                                            <span class="required" aria-required="true">  </span>
                                        </label>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control input-height", placeholder = "enter VaccineName" })
                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                   

                                    <br />
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-3">
                                                <button type="submit" class="btn btn-info" id="submitData">שמור שינויים</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/JS/jquery-3.6.0.js"></script>
    <script src="~/Content/JS/jquery.validate.js"></script>
    <script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>
    <script>
        $("#form0").attr("enctype", "multipart/form-data")

        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>

}
