@model IEnumerable<AppForVaccine.Models.CityList>

@{
    ViewBag.Title = "GetCity";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="col">
        <h2 class="text-info"> City List</h2>
        <hr />
        <div class="d-flex justify-content-end mb-2">
            <a href="@Url.Action("AddCity", "ManageAccount")" class="btn btn btn-outline-primary"><i class="fa-regular fa-square-plus fs-1"></i></a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(p => p.City)</th>                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pdt in Model)
                    {
                        <tr>
                            
                            <td>@Html.DisplayFor(p => pdt.City)</td>
                            <td>
                                <a href="@Url.Action("ECity", "ManageAccount", new {id = pdt.Id })" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-pen-to-square fs-4"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
