
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="m-4">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <a href="GetTherapist" class="button-63">מטפלים</a>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <a href="UserList" class="button-63">משתמשים</a>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card text-end">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    @*<p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>*@
                    <a href="Report" class="button-63">דוחות</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <a href="GetVaccine" class="button-63">חיסונים</a>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <a href="VaccineReminder" class="button-63">תזכורות</a>
                </div>
            </div>
        </div>

    </div>

</div>

@if (ViewBag.message != null)
{

    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('Added')
        })
        console.log(ViewBag.message);
    </script>

}