
@{
    ViewBag.Title = "IndexOfTherapist";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var modle2 = (AppForVaccine.Models.CountersContainer1)Model;
}
<link href="~/Fontawesome/css/StyleSheet1.css" rel="stylesheet" />

<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single_element">
                    <div class="quick_activity">
                        <div class="row">
                            <div class="col-12">
                                <div class="quick_activity_wrap">
                                    <div class="single_quick_activity d-flex">
                                        <div class="icon">
                                            <img src="~/Image/health-doctor-svgrepo-com.svg" alt=""/>
                                           </div>
                                        <div class="count_content">
                                            <h3><span class="counter">@modle2.Therapist</span> </h3>
                                            <p>מטפלים</p>
                                        </div>
                                    </div>
                                    <div class="single_quick_activity d-flex">
                                        <div class="icon">
                                        
                                            <img src="~/Image/hospital-svgrepo-com (1).svg" alt="" />
                                        </div>
                                        <div class="count_content">
                                            <h3><span class="counter">@modle2.Clinics</span> </h3>
                                            <p>מרפאות</p>
                                        </div>
                                    </div>
                                    <div class="single_quick_activity d-flex">
                                        <div class="icon">
                                            <img src="~/Image/wheel.svg" alt="">
                                        </div>
                                        <div class="count_content">
                                            <h3><span class="counter">@modle2.Patients</span> </h3>
                                            <p>מטופלים</p>
                                        </div>
                                    </div>
                                    <div class="single_quick_activity d-flex">
                                        <div class="icon">
                                            <img src="~/Image/syringe-svgrepo-com.svg" alt=""  />
                                        </div>
                                        <div class="count_content">
                                            <h3><span class="counter">@modle2.vaccinations</span> </h3>
                                            <p>חיסונים</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.message != null)
{

    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('Added')
        })
        console.log(ViewBag.message);
    </script>

}

